<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome to Profile Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In quo nesciunt unde aut accusamus repellat fuga iusto, odio voluptates neque, laboriosam commodi! Voluptates laborum accusamus consequuntur reprehenderit velit recusandae incidunt.</p>
</body>
</html>