<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register Form</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
  <div class="form-container">
    <h2>Register</h2>

    <form action="/submit" method="post">

      <label for="fname">Firstname:</label>

      <input type="text" id="fname" name="firstname" required>

      <label for="lname">Lastname:</label>

      <input type="text" id="lname" name="lastname" required>

      <input type="submit" value="Register">
      
    </form>
  </div>
</body>

</html>